.category-card {
    background: red;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 90%;
    max-width: 90%;
    border-radius: 1em;
    height: 70vh;
    margin-right: .5em;
}